<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Blog</a></h1>
        </div>

        <div>
            <p>published: 19.01.2019, 15:51</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello Web. This is my first django project. It's fun to see this.</p>
        </div>

        <div>
            <p>published: 19.01.2019, 15:51</p>
            <h2><a href="">My second post</a></h2>
            <p>Second post... Trial version just to check if it works fine !!</p>
        </div>
    </body>
</html>